@using TravelTripProject.Models.Sınıflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>

            @foreach (var x in Model)
            {
                <img src="@x.FotoUrl" alt="" style="width:1000px; height:500px" />
                <p> @x.Acikalama</p>
            }

        </div>
    </div>
</div>
